<div class="container">
    <h1>Edit Form</h1>
    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control"
               id="first_name"
               [(ngModel)]="model.first_name"
               name="first_name">
        </div>

        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control"
               id="last_name"
               [(ngModel)]="model.last_name"
               name="last_name">
        </div>

        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" class="form-control"
               id="age"
               [(ngModel)]="model.age"
               name="age">
        </div>

        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control"  id="gender"
              [(ngModel)]="model.gender" name="gender">
                <option *ngFor="let gen of genders" [value]="gen">{{gen}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="address1">Address 1</label>
            <input type="text" class="form-control"
               id="address1"
               [(ngModel)]="model.address.address1"
               name="address1">
        </div>

        <div class="form-group">
            <label for="address2">Address 2</label>
            <input type="text" class="form-control"
               id="address2"
               [(ngModel)]="model.address.address2"
               name="address2">
        </div>

        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control"
               id="city"
               [(ngModel)]="model.address.city"
               name="city">
        </div>

        <div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control"
               id="state"
               [(ngModel)]="model.address.state"
               name="state">
        </div>

        <div class="form-group">
            <label for="zip">Zip</label>
            <input type="text" class="form-control"
               id="zip"
               [(ngModel)]="model.address.zip"
               name="zip">
        </div>

        <div class="form-group">
            <label for="decimalAmount">Amount {{ currencySymbol }}</label>
            <input type="text" class="form-control"
               id="decimalAmount"
               [(ngModel)]="decimalAmount"
               name="decimalAmount">
        </div>

        <button type="submit">save</button>
        <button (click)="delete()">delete</button>
        <button (click)="cancel()">cancel</button>
    </form>
</div>
