<div class="search-container">
    <div class="search-bar">
      <input type="text" #search (keyup)="onKey(search.value)" placeholder="Narrow your search">
    </div>
    <div>
        <div *ngFor="let user of filteredUsers">
            <div (click)="edit(user.id)" class="user">
                <img src="{{ user.profile_image_url }}">
                <div class="user-details">
                    <div class="user-info">
                        <div><strong>{{ user.first_name }} {{ user.last_name }}</strong> {{ user.age }} {{ user.gender }}</div>
                        <div><strong>{{ user.order_total.amount | amount:user.order_total.currency }}</strong></div>
                    </div>
                    <div class="address">
                        {{ user.address | address }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
