<div class="search-container">
    <div class="search-bar">
      <input type="text" #search (keyup)="onKey(search.value)" placeholder="Narrow your search">
    </div>
    <div>
        <div *ngFor="let order of filteredOrders">
            <div (click)="edit(order.id)" class="order">
                <img src="{{ order.profile_image_url }}">
                <div class="user-details">
                    <div class="user-info">
                        <div><strong>{{ order.first_name }} {{ order.last_name }}</strong> {{ order.age }} {{ order.gender }}</div>
                        <div class="order-total"><strong>{{ order.order_total.amount | amount:order.order_total.currency }}</strong></div>
                    </div>
                    <div class="address">
                        {{ order.address | address }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
